<!doctype html>
<html>
<head>
    <title>The Horror Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1 class="greetings">The Horror Movies</h1>
  <img class="cameraImage" src="{{ url_for('static', filename='camera.png') }}">
  <footer>
    <div class="footer-content">
        <p>&copy; 2024 Created with vim.</p>
        <div class="social-media">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
            <a href="#">LinkedIn</a>
        </div>
    </div>
</footer>
</body>
</html>
